body{
    background-color:goldenrod ;
}

h1{
    text-align: center;
    color:red;
    font-size: 100px;
    text-shadow: 2px 2px black;
}

section {display: flex; justify-content: space-between;}

img {width: 200px; border: 2px solid black;}

button{color:red;}

div{color:red; font-weight: bold;}

strong{font-size: x-large;}

iframe{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid black;
    padding: 10px
}