h1{color: rgb(219, 22, 22);}
h1{text-align: center;}
h1{font-size: 100px;}
h1{text-shadow: 2px 2px rgb(255, 187, 127);}
button{color: rgb(219, 22, 22);}
div{color: rgb(255, 187, 127); font-weight: bold;}
section {display: flex; justify-content: space-between;}
img {width: 200px;}
body{
    background-color: #509c7a;
    opacity: 0.8;
  }
strong {font-size: x-large; color:rgb(246, 10, 25);}